[submodule "ext/torchtitan"]
	path = ext/torchtitan
	url = https://github.com/pytorch/torchtitan.git
[submodule "ext/zip2zip-compression"]
	path = ext/zip2zip-compression
	url = https://github.com/epfl-dlab/zip2zip-compression.git
[submodule "ext/zip2zip"]
	path = ext/zip2zip
	url = https://github.com/epfl-dlab/zip2zip.git
[submodule "ext/zip2zip-hyperenc_probe"]
	path = ext/zip2zip-hyperenc_probe
	url = https://github.com/mxx28/zip2zip-plus-plus-hyperenc-probe.git
